    <md:Extensions>
      <mdattr:EntityAttributes xmlns:mdattr="urn:oasis:names:tc:SAML:metadata:attribute">
        <samla:Attribute xmlns:samla="urn:oasis:names:tc:SAML:2.0:assertion" Name="http://macedir.org/entity-category" NameFormat="urn:oasis:names:tc:SAML:2.0:attrname-format:uri">
{% for attrv in attributevalue %}
          <samla:AttributeValue>{{ attrv }}</samla:AttributeValue>
{% endfor %}
        </samla:Attribute>
      </mdattr:EntityAttributes>
      <mdui:UIInfo xmlns:mdui="urn:oasis:names:tc:SAML:metadata:ui">
        <mdui:DisplayName xml:lang="en">{{ displayname }}</mdui:DisplayName>
        <mdui:Description xml:lang="en">{{ description  }}</mdui:Description>
        <mdui:InformationURL xml:lang="en">{{ informationurl  }}</mdui:InformationURL>
      </mdui:UIInfo>
    </md:Extensions>
